<div id="loginDiv" style="float:right;width:15%">
	{% if user is not None %}
		{{ user['user_name'] }} <br/>
		【<a href="/changepw/{{user['user_id']}}">修改密码</a>】【<a href="/exit">登出</a>】
	{% else %}
	<form id="loginForm" action="/login" method="post">
		<script type="text/javascript">
			function login(){
				$("#loginForm").submit();
			}
		</script>
		<table>
			<tr>
				<td>编号</td>
				<td>
					<input type="text" name="user_id" />
				</td>
			</tr>
			<tr>
				<td>密码</td>
				<td>
					<input type="password" name="user_pw" />
				</td>
				<td>
					<input type="button" onclick="login()" value="登陆" />
				</td>
			</tr>
		</table>
		{% raw xsrf_form_html() %}
	</form>
	{% end %}
</div>
<div style="clear:both"></div>